
      body {
        background-image: url("Space\ vertical\ background.webp"), url("Space.png");
        background-color: #160135;
        background-attachment: fixed;
        background-position: relative;
      }



h1{
    color:white; 
    padding: 30px;
    background-color: rgb(77, 7, 77);
}

img{ 
  width: 300px; height: 490px; float: right;
}

hr{
  color: white;
}



